<launch>
        <param name="/side_state" type="int" value="2" /> 
        <param name="/mission_waitTime" type="double" value="1.0" />
        <param name="/go_home_time" type="double" value="98" />
        <param name="/file_name_mission" type="string" value="missionPoint_vl53.csv" />
        <param name="/file_name_path" type="string" value="scriptSmall_1_purple.csv" />
        <param name="/file_name_param" type="string" value="paramSetSmol.csv" />
        <param name="/feedback_activate" type="bool" value="true" />
    <!-- <node name="Main_Node_Smol" pkg="main_2022_smol" type="main_2022_smol" output="screen"> -->
    <node name="Main_Node_Smol" pkg="main_2022_smol" type="main_2022_smol_emerge" output="screen">
    </node>
</launch>